@page "/auth/login"
@using GameDock.Client.Components.Auth
@attribute [AllowAnonymous]

<AuthorizeView>
    <NotAuthorized>
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card shadow-2-strong" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">
                            <h3 class="mb-5">Sign in</h3>
                            <LoginForm/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </NotAuthorized>
    <Authorized>
        <RedirectToMain/>
    </Authorized>
</AuthorizeView>