@inherits LayoutComponentBase

<AuthorizeView>
    <NotAuthorized>
        <div class="page">
            <main>
                <article class="content px-4">
                    @Body
                </article>
            </main>
        </div>
    </NotAuthorized>
    <Authorized>
        <div class="page">
            <div class="sidebar">
                <NavMenu/>
            </div>

            <main>
                <div class="top-row px-4">
                    <NavLink href="/auth/logout" type="submit" class="nav-link btn btn-link text-dark">
                        @context.User.Identity!.Name&nbsp;@(context.User.IsInRole("Admin") ? "(Administrator)" : "")
                    </NavLink>
                </div>

                <article class="content px-4">
                    @Body
                </article>
            </main>
        </div>
    </Authorized>
</AuthorizeView>

@code{
}