<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">GameDock</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/builds" Match="NavLinkMatch.Prefix">
                <i class="bi bi-gear-wide-connected"></i>&nbsp; Builds
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/fleets" Match="NavLinkMatch.Prefix">
                <i class="bi bi-rocket-fill"></i>&nbsp; Fleets
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/auth/logout" Match="NavLinkMatch.Prefix">
                <i class="bi bi-box-arrow-left"></i>&nbsp; Logout
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool _collapseNavMenu = true;

    private string NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }

}