@page "/builds/{id}"
@using GameDock.Shared.Dto
@attribute [Authorize]
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager

<div class="row">
    <div class="col-md">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <NavLink href="/builds">Builds</NavLink>
                </li>
                <li class="breadcrumb-item active" aria-current="page">@Id</li>
            </ol>
        </nav>
    </div>
</div>

@if (_isLoading)
{
    <p>Loading...</p>
}
else if (_buildInfo != null)
{
    <div class="row">
        <div class="col">
            <h3>Build information:</h3>
        </div>
        <div class="col">
            <div class="float-end">
                <div class="col-md-1">
                    <button @onclick="RefreshAsync" class="btn @(_isRefreshing is null ? "btn-link text-dark" : _isRefreshing == true ? "btn-primary text-white" : "btn-success text-white")">
                        <i class="bi bi-arrow-repeat"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <BuildInfoView BuildInfo="_buildInfo"/>
    </div>
    <div class="mt-2">
        @if (_buildInfo.Status != "Deleted")
        {
            <DeleteBuildButton BuildId="_buildInfo" OnRequestProcessed="OnDelete"/>
        }
    </div>
}
else
{
    <p>Build Info not found.</p>
}

@code {

    [Parameter]
    public string Id { get; set; }

    private BuildInfoDto _buildInfo;
    private bool _isLoading = true;
    private bool? _isRefreshing = null;

    protected override async Task OnInitializedAsync()
    {
        _buildInfo = await HttpClient.GetFromJsonAsync<BuildInfoDto>($"/api/build/info/{Id}");
        _isLoading = false;
    }

    private async Task RefreshAsync()
    {
        _isRefreshing = true;
        StateHasChanged();

        _buildInfo = await HttpClient.GetFromJsonAsync<BuildInfoDto>($"/api/build/info/{Id}");

        _isRefreshing = false;
        StateHasChanged();

        await Task.Delay(3000);
        _isRefreshing = null;
    }

    private async Task OnDelete(bool success)
    {
        if (!success)
        {
            await RefreshAsync();
            return;
        }
        
        NavigationManager.NavigateTo("/builds", false);
    }
}