@page "/builds/{id}"
@using GameDock.Shared.Dto

@inject HttpClient HttpClient
@inject NavigationManager NavigationManager

<div class="row">
    <div class="col-md">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/">Main</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">@Id</li>
            </ol>

        </nav>
    </div>
    <div class="col-md-1">
        <button class="btn btn-secondary btn-sm" @onclick="RefreshPage">
            <i class="bi bi-arrow-repeat"></i>
        </button>
    </div>
</div>

@if (_isLoading)
{
    <p>Loading...</p>
}
else if (_buildInfo != null)
{
    <BuildInfoView BuildInfo="_buildInfo" />
}
else
{
    <p>Build Info not found.</p>
}

@code {

    [Parameter]
    public string Id { get; set; }

    private BuildInfoDto _buildInfo;
    private bool _isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        _buildInfo = await HttpClient.GetFromJsonAsync<BuildInfoDto>($"/api/build/info/{Id}");
        _isLoading = false;
    }

    private async Task RefreshPage()
    {
        _isLoading = true;
        StateHasChanged();

        _buildInfo = await HttpClient.GetFromJsonAsync<BuildInfoDto>($"/api/build/info/{Id}");
        _isLoading = false;
    }
}