@page "/builds/{id}"
@using GameDock.Shared.Dto
@attribute [Authorize]
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager

<div class="row">
    <div class="col-md">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <NavLink href="/builds">Builds</NavLink>
                </li>
                <li class="breadcrumb-item active" aria-current="page">@Id</li>
            </ol>
        </nav>
    </div>
</div>

@if (_isLoading)
{
    <p>Loading...</p>
}
else if (_buildInfo != null)
{
    <div class="row">
        <div class="col">
            <h3>Build information:</h3>
        </div>
        <div class="col">
            <div class="float-end">
                <div class="col-md-1">
                    <RefreshButton OnRefresh="RefreshAsync"/>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <BuildInfoView BuildInfo="_buildInfo"/>
    </div>
    <div class="mt-2">
        <div class="row">
            <div class="col-auto">
                <DownloadBuildButton BuildId="@_buildInfo.Id"></DownloadBuildButton>
            </div>
            @if (_buildInfo.Status != "Deleted")
            {
                <div class="col-auto">
                    <DeleteBuildButton BuildId="@_buildInfo.Id" OnRequestProcessed="OnDelete"/>
                </div>
            }

            <div class="col-auto"></div>
        </div>
    </div>
}
else
{
    <p>Build Info not found.</p>
}

@code {

    [Parameter]
    public string Id { get; set; }

    private BuildInfoDto _buildInfo;
    private bool _isLoading = true;
    private bool? _isRefreshing = null;

    protected override async Task OnInitializedAsync()
    {
        _buildInfo = await HttpClient.GetFromJsonAsync<BuildInfoDto>($"/api/build/info/{Id}");
        _isLoading = false;
    }

    private async Task RefreshAsync()
    {
        _isRefreshing = true;
        StateHasChanged();

        _buildInfo = await HttpClient.GetFromJsonAsync<BuildInfoDto>($"/api/build/info/{Id}");

        _isRefreshing = false;
        StateHasChanged();

        await Task.Delay(3000);
        _isRefreshing = null;
    }

    private async Task OnDelete(bool success)
    {
        if (!success)
        {
            await RefreshAsync();
            return;
        }

        NavigationManager.NavigateTo("/builds", false);
    }

}