<InputFile OnChange="@HandleFileSelected" Accept=".tar" Multiple="false"/>

<div class="result">
    @if (_uploadResult.HasValue)
    {
        <div class="@(_uploadResult.Value ? "text-success" : "text-danger")">
            @(_uploadResult.Value ? "Success!" : "Error!")
        </div>
    }
</div>

@code {

    [Inject]
    private HttpClient Client { get; set; }

    private bool? _uploadResult;

    private async Task HandleFileSelected(InputFileChangeEventArgs e)
    {
        var file = e.File;

        var request = new HttpRequestMessage(HttpMethod.Post, "api/file");

        using var content = new MultipartFormDataContent();
        content.Add(new StreamContent(file.OpenReadStream()), "file", file.Name);
        request.Content = content;

        try
        {
            var response = await Client.SendAsync(request);
            _uploadResult = response.IsSuccessStatusCode;
        }
        catch (Exception)
        {
            _uploadResult = false;
            throw;
        }
    }
}