<button @onclick="RefreshAsync" class="btn btn-link text-dark">

    @if (_isLoading)
    {
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    }
    else
    {
        <i class="bi bi-arrow-repeat"></i>
    }
</button>

@code {

    [Parameter]
    public EventCallback OnRefresh { get; set; }

    private bool _isLoading = false;

    private async Task RefreshAsync()
    {
        _isLoading = true;
        StateHasChanged();

        try
        {
            await OnRefresh.InvokeAsync();
        }
        finally
        {
            await Task.Delay(1000);
            _isLoading = false;
        }
    }

}